/* Auth.fxml

 */

#Auth_VBox {
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
}

#Auth_VBox > Label {
    -fx-font-size: 16px;
    -fx-padding: 5px 0 0 0;
}

#Auth_VBox > TextField {
    -fx-font-size: 16px;
}

#Auth_VBox > PasswordField {
    -fx-font-size: 16px;
}

#Auth_Label_Output {
    visibility: hidden;
}

#AuthButtonAuth {
    -fx-indent: 15px;
}

/*
    General.fxml
 */

#General_List_Buttons > GridPane > Button {
    -fx-pref-height: Infinity;
    -fx-pref-width: Infinity;
}

/*
    Statement.fxml
*/

.statement_button {
    -fx-background-image: url('../icons/icon-holiday.png');
    -fx-background-size: 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-padding: 85px 0 0 0;
    -fx-start-margin: 15px;
    -fx-pref-height: 150px;
    -fx-pref-width: 96px;
    /*-fx-alignment: center;*/
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

.statement_hbox {
    -fx-spacing: 10;
    -fx-pref-height: 150px;
    -fx-pref-width: 512px;
}

#Statement_Button_Coming {
    -fx-background-image: url('../icons/icon-coming.png');
}

#Statement_Button_Out {
    -fx-background-image: url('../icons/icon-out.png');
}

#Statement_Button_Oil {
    -fx-background-image: url('../icons/icon-out.png');
}

/*
    Task.fxml
 */

#Task_VBox_List > HBox {
    -fx-padding: 10px 0 10px 10px;
}

#Task_VBox_List > HBox > Label {
    -fx-font-size: 18px;
    -fx-pref-width: 180px;
}

#Task_VBox_List > HBox > TextField {
    -fx-font-size: 18px;
    -fx-pref-width: 600px;
}

#Task_VBox_List > HBox > CheckBox {
    -fx-pref-height: 27px;
    -fx-start-margin: 20px;
}


/*
    Usual Elements
 */

.MaxStgsChoiceBox {
    -fx-font-size: 18px;
}