/* Auth.fxml

 */

#Auth_VBox {
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
}

#Auth_VBox > Label {
    -fx-font-size: 16px;
    -fx-padding: 5px 0 0 0;
}

#Auth_VBox > TextField {
    -fx-font-size: 16px;
}

#Auth_VBox > PasswordField {
    -fx-font-size: 16px;
}

#Auth_Label_Output {
    visibility: hidden;
}

#AuthButtonAuth {
    -fx-indent: 15px;
}

/*
    General.fxml
 */

#General_List_Buttons > GridPane > Button {
    -fx-pref-height: Infinity;
    -fx-pref-width: Infinity;
}

/*
    Statements.fxml
*/

.statement_button {
    -fx-background-image: url('../icons/icon-holiday.png');
    -fx-background-size: 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-padding: 85px 0 0 0;
    -fx-start-margin: 15px;
    -fx-pref-height: 150px;
    -fx-pref-width: 96px;
    /*-fx-alignment: center;*/
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

.statement_hbox {
    -fx-spacing: 10;
    -fx-pref-height: 150px;
    -fx-pref-width: 512px;
}

#Statement_Button_Coming {
    -fx-background-image: url('../icons/icon-coming.png');
}

#Statement_Button_Out {
    -fx-background-image: url('../icons/icon-out.png');
}

#Statement_Button_Oil {
    -fx-background-image: url('../icons/icon-out.png');
}

/*
    Tasks.fxml
 */

#Tasks_VBox_List {
    -fx-spacing: 10px;
}

#Tasks_VBox_List > HBox {
    -fx-spacing: 10px;
}

#Tasks_VBox_List > HBox > Label {
    -fx-label-padding: 0 0 0 10px;
    -fx-font-size: 15px;
    -fx-pref-width: 180px;
}

#Tasks_VBox_List > HBox > TextField {
    -fx-font-size: 15px;
    -fx-pref-width: 350px;
}

#Tasks_VBox_List > HBox > CheckBox {
    -fx-start-margin: 30px;
    -fx-pref-height: 27px;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

#Tasks_VBox_List > HBox > Button {
    -fx-pref-width: 150px;
    -fx-font-size: 15px;
}


/*

    Task.fxml

 */

#Window_Task_GridPane_Root > VBox > Label {
    -fx-font-size: 18px;
}

#Window_Task_GridPane_Root > VBox > TextField {
    -fx-font-size: 15px;
}

/*
    Usual Elements
 */

.MaxStgsChoiceBox {
    -fx-font: 18px Serif;
}

/*
    Combinations
 */

.combinations_vbox{
    -fx-font-size: 18px;
}

.list_user {
    -fx-spacing: 10;
}

.list_user_hbox {
    -fx-spacing: 15;
}

.list_user_title {
    -fx-font-size: 18px;
    -fx-pref-width: 350px;
}

.list_user_phone {
    -fx-font-size: 18px;
    -fx-pref-width: 150px;
}

.list_user_color {
    -fx-padding: 0 15px 0 0;
}

/*
    Coming.fxml
 */

#Window_Coming_GridPane_Root > VBox > TextField {
    -fx-font-size: 15px;
}

/*
    Out.fxml
 */

#Window_Out_GridPane_Root > VBox > TextField {
    -fx-font-size: 15px;
}

.label-middle {
    -fx-font-size: 15px;
}

.button-middle {
    -fx-font-size: 15px;
    -fx-pref-width: 200px;
}

.button-select_file {
    -fx-font-size: 15px;
    -fx-pref-width: 125px;
}

.vbox-list {
    -fx-spacing: 5px;
}